# Maven target directory
/target/

# IntelliJ IDEA project files
.idea/
*.iws
*.iml
*.ipr

# IntelliJ IDEA module files
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/

# Eclipse project files
.classpath
.project
.settings/

# NetBeans project files
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code files
.vscode/

# Operating System files
.DS_Store

# Allow src folder
!src/
